$light: #FFFFFF;
$light-1: #eaf7fc;
$light-2: #ced5e1;
$light-3: #F9F9F9;
$light-4: #d0d0d0;
$light-5: #f1f3f7;

$primary-blue: #009DDF;
$blue-1: #27aae1;
$blue-2: #00b2fd;
$blue-3: #008fcc;
$blue-4: #0093d1;

$dark-blue: #0c588a;

$black:#4D606D;
$black-1: #243c4c;

$warning: #FF9A01;

$success: #02d1a1;

$error: #f04b65;
$error-1: #eb243f;


$opacity-black: rgba(39, 170, 225, 0.3);
$opacity-black-2: rgba(0, 0, 0, 0.2);
$opacity-black-3: rgba(255, 255, 255, 0.1);
$opacity-black-4: rgba(39, 170, 225, 0.3);